@media screen and (max-width: 1514px) {
  .more-projects {
    justify-content: center;

    text-align: center;
  }

  .title {
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  nav .menu-links {
    height: 30vh;

    position: fixed;

    top: 0;
    right: 0;
    left: 0;

    z-index: 10;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: var(--main-color);

    transition: top 1s ease;

    display: none;
  }

  nav .menu-links .close-menu {
    display: block;

    position: absolute;

    top: 15px;
    right: 30px;
  }

  nav .menu-links li {
    margin-top: 20px;
  }

  nav .open-menu {
    display: block;
  }

  .resume {
    flex-direction: column;
  }

  .resume-text {
    margin-top: 20px;
    margin-left: 0;

    align-items: center;
  }

  .resume-text h1 {
    text-align: center;
  }

  .resume-text p {
    text-align: center;
  }

  .curriculum {
    display: flex;

    justify-content: center;
  }

  .skills-image {
    width: 60px;
  }

  .skills-image_react {
    width: 110px;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    margin-top: 0px;
  }

  .knowledge,
  .interests {
    flex-direction: column;
  }

  .knowledge h2,
  .interests h2 {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {
  .knowledge,
  .interests {
    margin: 20px auto;
  }
}
