* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

:root {
  --main-color: #5965e0;
  --background: #eaedef;
  --text: #000;
  --green: #4cd62b;
  --border: #fff;
  --switch: #eaedef;
}

.dark-mode {
  --main-color: #101010;
  --background: #161616;
  --text: #fff;
  --green: #4cd62b;
  --border: #101010;
  --switch: #202020;
}

body {
  font-family: "Poppins", sans-serif;

  background: var(--background);
}

header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;

  margin: 0 auto;

  background: var(--main-color);
}

.logo a {
  font-size: 2rem;

  color: #fff;

  text-decoration: none;
}

/* SWITCH */
.change-theme {
  margin-left: 20px;
}

.checkbox {
  opacity: 0;

  position: absolute;
}

.label {
  width: 50px;
  height: 26px;

  background-color: var(--switch);

  display: flex;

  align-items: center;
  justify-content: space-between;

  position: relative;

  padding: 5px;

  border-radius: 50px;

  cursor: pointer;
}

.ball {
  width: 22px;
  height: 22px;

  background-color: #fff;

  position: absolute;

  top: 2px;
  left: 2px;

  border-radius: 50%;

  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* PROFILE-SECTION */
.resume {
  display: flex;

  align-items: center;
  justify-content: center;

  max-width: 1200px;

  margin: 40px auto;

  padding-bottom: 40px;

  border-bottom: 1px solid var(--border);
}

.resume img {
  width: 250px;
  border: 5px solid var(--border);
  border-radius: 50%;
}

.resume-text {
  margin-left: 50px;
}

.resume-text h1 {
  font-size: 3rem;

  color: var(--green);
}

.resume-text p {
  font-size: 1.5rem;

  max-width: 400px;

  color: var(--text);
}

.links {
  display: flex;

  align-items: center;

  margin: 10px auto;
}

.social-links {
  font-size: 40px;
}

.social-links:nth-child(1) {
  margin-right: 20px;
}

.fa-github {
  color: var(--text);
}

.fa-linkedin {
  color: #0a66c2;
}

/* SKILLS SECTION */
.skills {
  margin: 40px auto;

  border-bottom: 1px solid var(--border);

  max-width: 1200px;
}

.skills-image {
  width: 100px;
}

.skills-image_react {
  width: 150px;
}

.knowledge,
.interests {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 80px auto;
}

.knowledge h2,
.interests h2 {
  margin-right: 20px;

  color: var(--text);
}

.knowledge .skills-image,
.interests .skills-image {
  margin: 15px;
}

/* ABOUT ME SECTION */
.about-container {
  width: 80%;

  margin: 40px auto;

  max-width: 1200px;
}

.about-text h1 {
  color: var(--green);

  font-size: 2.3rem;

  margin-bottom: 20px;
}

.about-text p {
  margin: 0 auto;

  color: var(--text);

  font-size: 1.1rem;

  padding-bottom: 25px;
}

.about-text p span {
  color: var(--green);

  text-decoration: underline;
}

footer {
  background: var(--main-color);

  display: flex;

  height: 50px;

  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
}
