* {
  margin: 0;

  padding: 0;

  box-sizing: border-box;
}

html {
  scroll-padding-top: 115px;

  scroll-behavior: smooth;

  font-size: 62.5%;
}

:root {
  --main-color: #5965e0;
  --background: #eaedef;
  --text: #000000;
  --border: #ffffff;
  --switch: #eaedef;
  --project-background: #ffffff;
  --project-image-border: #eaedef;
  --curriculum-button: #5965e0;

  --white: #ffffff;
  --green: #4cd62b;
  --bb-blue: #5965e0;
}

.dark-mode {
  --main-color: #101010;
  --background: #161616;
  --text: #ffffff;
  --border: #101010;
  --switch: #202020;
  --project-background: #202020;
  --project-image-border: #101010;
  --curriculum-button: #000000;
}

body {
  font-family: "Poppins", sans-serif;

  background: var(--background);

  font-size: 1.6rem;
}

.title {
  /* SECTION TITLES */
  color: var(--green);

  font-size: 3.2rem;

  margin-bottom: 25px;
}

a {
  text-decoration: none;

  color: var(--white);
}

header {
  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 10px 20px;

  height: 75px;
  width: 100%;

  margin: 0 auto;

  background: var(--main-color);

  position: fixed;

  top: 0;

  z-index: 1;
}

.logo {
  font-size: 3rem;

  color: var(--white);
}

/* MENU */
.menu {
  display: flex;

  align-items: center;
}

nav .menu-links {
  display: flex;

  list-style: none;
}

nav .menu-links li a {
  margin: 10px;

  padding: 5px;

  text-transform: uppercase;

  font-size: 1.4rem;
}

.open-menu {
  background-color: transparent;

  border: none;

  outline: none;

  color: var(--white);

  font-size: 2.4rem;

  cursor: pointer;

  display: none;
}

nav .menu-links .close-menu {
  font-size: 2.4rem;

  color: var(--white);

  cursor: pointer;

  display: none;
}

.highlight {
  border-bottom: 4px solid var(--white);
}

/* SWITCH */
.change-theme {
  margin-left: 20px;
}

.checkbox {
  opacity: 0;

  position: absolute;
}

.label {
  width: 50px;
  height: 26px;

  background-color: var(--switch);

  display: flex;

  align-items: center;
  justify-content: space-between;

  position: relative;

  padding: 5px;

  border-radius: 50px;

  cursor: pointer;
}

.ball {
  width: 22px;
  height: 22px;

  background-color: var(--white);

  position: absolute;

  top: 2px;
  left: 2px;

  border-radius: 50%;

  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* PROFILE SECTION */
#home {
  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 1200px;

  margin: 115px auto 0;
}

#home::after {
  content: "";

  height: 2px;
  width: 100%;

  background-color: var(--border);

  display: block;

  margin: 38px auto;
}

.resume {
  display: flex;

  align-items: center;
  justify-content: center;
}

.resume img {
  width: 250px;
  border: 5px solid var(--border);
  border-radius: 50%;
}

.resume-text {
  margin-left: 50px;
}

.resume-text h1 {
  font-size: 5rem;

  color: var(--green);
}

.resume-text p {
  font-size: 2rem;

  max-width: 400px;

  color: var(--text);
}

.curriculum {
  margin-top: 15px;
}

.curriculum-button {
  padding: 10px;

  border: none;
  border-radius: 4px;

  outline: none;

  background-color: var(--curriculum-button);

  color: var(--white);

  font-size: 1.4rem;
}

.curriculum-button i {
  margin-right: 4px;
}

/* SKILLS SECTION */
#skills {
  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 1200px;

  margin: 0 auto;
}

#skills::after {
  content: "";

  height: 2px;
  width: 100%;

  background-color: var(--border);

  display: block;

  margin: 38px auto;
}

.skills-image {
  width: 100px;
}

.skills-image_react {
  width: 150px;
}

.knowledge,
.interests {
  display: flex;

  align-items: center;
  justify-content: center;

  margin: 40px auto;
}

.knowledge h2,
.interests h2 {
  margin-right: 20px;

  color: var(--text);
}

.knowledge .skills-image,
.interests .skills-image {
  margin: 15px;
}

/* ABOUT ME SECTION */
#about-me {
  display: flex;
  flex-direction: column;

  width: 80%;
  max-width: 1200px;

  margin: 0 auto;
}

#about-me::after {
  content: "";

  height: 2px;
  width: 100%;

  background-color: var(--border);

  display: block;

  margin: 38px auto;
}

.about-text p {
  margin: 0 auto;

  color: var(--text);

  font-size: 1.6rem;

  padding-bottom: 25px;
}

.about-text p:last-child {
  padding-bottom: 0px;
}

.about-text p span {
  color: var(--bb-blue);

  text-decoration: underline;
}

/* MY PROJECTS SECTION */
.projects-container {
  width: 80%;
  max-width: 1200px;

  margin: 0 auto;
}

.my-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 372px));
  grid-gap: 20px;

  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.project-card {
  background-color: var(--project-background);

  border-radius: 4px;

  display: flex;
  flex-direction: column;

  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.2);
}

.project-card:hover {
  transform: translateY(-4px);

  z-index: 0;
}

.project-card .title-container {
  background-color: var(--main-color);

  border-radius: 4px;
}

.project-card .title-container .project-title {
  padding: 8px 20px;

  display: flex;
  align-items: center;

  color: var(--white);

  font-size: 2.2rem;
}

.project-card .project-info {
  padding: 10px 15px;
}

.project-card .project-info .project-image {
  height: 180px;
  width: 100%;

  border: 1px solid var(--project-image-border);
  border-radius: 4px;
}

.project-card .project-info .project-resume {
  color: var(--text);

  text-align: start;

  margin: 15px 0;

  font-size: 1.6rem;
}

.project-card .project-info .project-resume strong {
  text-decoration: underline;
}

.project-card .buttons {
  display: flex;

  align-items: center;
  justify-content: center;
}

.project-card .buttons button {
  width: 120px;

  margin: 15px 0;

  background-color: var(--main-color);

  padding: 10px;

  color: var(--white);

  border: none;
  border-radius: 8px;

  cursor: pointer;

  outline: none;

  /* display: flex;

  align-items: center;
  justify-content: center; */
}

.more-projects {
  display: flex;

  justify-content: flex-end;

  margin: 20px;
}

.more-projects small a {
  color: var(--green);

  font-weight: 600;

  text-decoration: underline;
}

/* FONT AWESOME ICONS */
.project-card .used-techs {
  display: flex;

  align-items: center;
  justify-content: center;
}

.project-card .used-techs i {
  font-size: 2.4rem;

  margin-right: 10px;
}

.project-card .used-techs i:last-child {
  font-size: 2.4rem;

  margin-right: 0px;
}

.fa-html5 {
  color: #e44d26;
}

.fa-css3-alt {
  color: #2194f3;
}

.fa-js-square {
  color: #e4b942;
}

.fa-react {
  color: #61dcfb;
}

.fa-node-js {
  color: #68a063;
}

.button-icon {
  font-size: 1.8rem;

  margin-right: 8px;

  color: var(--white);
}

footer {
  background: var(--main-color);

  display: flex;

  height: 50px;

  align-items: center;
  justify-content: center;
}

footer p {
  color: var(--white);
}
